<mat-toolbar>
    <span>
        <a  routerLink="" mat-button>
            <mat-icon>security</mat-icon> Security Model
        </a>
        <a routerLink="form" mat-button>
            Form
        </a>
        <a routerLink="module" mat-button>
            Module
        </a>
        <a routerLink="permission" mat-button>
            Permission
        </a>
        <a routerLink="person" mat-button>
            Person
        </a>
        <a routerLink="rol" mat-button>
            Rol
        </a>
        <a routerLink="user" mat-button>
            User
        </a>
        <a routerLink="rolFormPermission" mat-button>
            RolFormPermission
        </a>
        <a routerLink="formModule" mat-button>
            FormModule
        </a>
        <a routerLink="rolUser" mat-button>
            RolUser
        </a>
    </span>
</mat-toolbar>
