.contenedor-formulario {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-row mat-form-field {
    flex: 1;
}

.mat-error-campos{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}


.mat-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em;
}

.btn-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    height: 48px;
    font-size: 16px;
    width: 30%;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
}

.login-link a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: 500;
}